<!DOCTYPE html>
<html lang="en" ng-app="tweetyFive">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Erik Eppel">
  <meta name="description" content="Tweety-five fetches the 25 most recent tweets from the timeline of the user you search for.">
  <title>Tweety-five</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <main class="container" ng-controller="SearchController as search">
    <h1><i class="fa fa-twitter"></i> Tweety-five</h1>

    <form class="form-inline"
          name="search.form"
          ng-submit="search.searchUser(search.screenName)">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">@</div>
          <input class="form-control"
                 type="text"
                 ng-model="search.screenName"
                 placeholder="user">
          <span class="input-group-btn">
            <button class="btn btn-primary">Search</button>
          </span>
        </div>
      </div>
    </form> <!-- end of form -->

    <!-- Tweets -->
    <ul class="list-group" ng-show="!search.searchError">
      <li ng-repeat="tweet in search.results" class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <img ng-src="{{ tweet.profileImgUrl }}" class="profile-image">
            <span class="user-name">{{ tweet.userName }}</span>
            <a ng-href="https://twitter.com/{{ tweet.userHandle }}" target="_blank" class="user-names">@{{ tweet.userHandle }}</a>
          </div>
          <div class="col-md-9">
            <span ng-bind-html="tweet.text | parseUrls" class="tweet"></span>
            <span>{{ tweet.timeStamp | date:'M/d/yy h:mm a' }}</span>
          </div>
        </div>
      </li>
    </ul> <!-- end of list-group -->

    <!-- Error message -->
    <div class="alert alert-danger" ng-show="search.searchError">{{ search.error }}</div>

  </main>

  <!-- App Dependcies -->
  <script src="socket.io/socket.io.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.js"></script>
  <script src="lib/angular-socket-io/socket.js"></script>

  <!-- App -->
  <script src="app/app.js"></script>
  <script src="app/parseUrls.filter.js"></script>
  <script src="app/search.controller.js"></script>
  <script src="app/socket.factory.js"></script>
</body>
</html>